@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.btn {
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    cursor:pointer;
    background-repeat:no-repeat;
}

.btn:hover {
    background-color:#f2f2f2;
}

.btn#selectButton {
    margin-left:5px;
    background-image:url(chrome://firerobot/skin/white-icons/select.png);
}

.btn#selectButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/select.png);
}

.selectOn {
    margin-left:5px;
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    cursor:pointer;
    background-repeat:no-repeat;
    background-image:url(chrome://firerobot/skin/black-icons/select.png);
    background-color:#f2f2f2;   
}

.btn#closeButton {
    margin-right:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.close.png);
}

.btn#closeButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.close.png);
}

.btn#prefButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.cog.png);
}

.btn#prefButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.cog.png);
}

.btn#helpButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.question.png);
}

.btn#helpButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.question.png);
}

.sideBarButton {
    margin-right:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.layout.sidebar.png);
}

.sideBarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.layout.sidebar.png);

}

.floatButton {
    margin-right:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.new.window.png);
}

.floatButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.new.window.png);
}

.btn#moveVarDownButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.down.png);
}

.btn#moveVarDownButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.down.png);
}

.btn#moveVarUpButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.up.png);
}

.btn#moveVarUpButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.up.png);
}

.btn#removeVarButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.minus.png);
}

.btn#removeVarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.minus.png);
}

.btn#addVarButton {
    margin-top:3px;
    margin-bottom:3px;
    margin-right:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.add.png);
}

.btn#addVarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.add.png);
}

.btn#playButton {
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.control.play.png);
}

.btn#playButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.control.play.png);
}

.playOn {
    margin-top:3px;
    margin-bottom:3px;
    margin-left:5px;
    background-image:url(chrome://firerobot/skin/black-icons/appbar.control.play.png);
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    background-repeat:no-repeat;
    background-color:#f2f2f2;   
}

.btn#reportButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.list.png);
}

.btn#reportButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.list.png);
}

.btn#openButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.folder.open.png);
}


.btn#openButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.folder.open.png);
}

.btn#saveAsButton {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.save-as.png);
}

#saveAsButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.save-as.png);
}

.btn#saveButton {
    margin-top:3px;
    margin-bottom:3px;
    margin-right:5px;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.save.png);
}

.btn#saveButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.save.png);
}

.btn#enableLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.right.png);
}

.btn#enableLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.right.png);
}

.btn#disableLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.left.png);
}

.btn#disableLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.left.png);
}

.btn#upLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.up.png);
}

.btn#upLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.up.png);
}

.btn#downLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.down.png);
}

.btn#downLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.down.png);
}

.frBase {
    -moz-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color:#f2f2f2;
    background-color:#474747;
}

.varBox {
    -moz-appearance: none;
    color:#f2f2f2;
    background-color:#474747;
}

.varLabel {
    margin-right:0px;
    margin-left:0px;
}

.varBoxItem:focus{
    color:#474747;
    background-color:#f2f2f2;  
}

.testBox {
    -moz-appearance: none;
    border-style:none;
    color:#ffffff;
    background-color:#141414;
}

.prefItem {
    -moz-appearance: none;
    color:#f2f2f2;
    border-style:none;
}

.prefItemSelected {
    -moz-appearance: none;
    border-style:none;
    color:#474747;
    opacity: 1;
    background-color:#f2f2f2;  
}