@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

.btn {
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    cursor:pointer;
    background-repeat:no-repeat;
}

.btn:hover {
    background-color:#f2f2f2;
}

.btn#fire-robot-selectButton {
    margin-left:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/select.png);
}

.btn#fire-robot-selectButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/select.png);
}

.selectOn {
    margin-left:0.4rem;
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    cursor:pointer;
    background-repeat:no-repeat;
    background-image:url(chrome://firerobot/skin/black-icons/select.png);
    background-color:#f2f2f2;   
}

.btn#fire-robot-closeButton {
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.close.png);
}

.btn#fire-robot-closeButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.close.png);
}

.btn#fire-robot-prefButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.cog.png);
}

.btn#fire-robot-prefButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.cog.png);
}

.btn#fire-robot-helpButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.question.png);
}

.btn#fire-robot-helpButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.question.png);
}

.sideBarButton {
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.layout.sidebar.png);
}

.sideBarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.layout.sidebar.png);

}

.floatButton {
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.new.window.png);
}

.floatButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.new.window.png);
}

.btn#fire-robot-addResourceButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.add.png);
}

.btn#fire-robot-addResourceButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.add.png);
}

.btn#fire-robot-moveVarDownButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.down.png);
}

.btn#fire-robot-moveVarDownButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.down.png);
}

.btn#fire-robot-moveVarUpButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.up.png);
}

.btn#fire-robot-moveVarUpButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.up.png);
}

.btn#fire-robot-removeVarButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.minus.png);
}

.btn#fire-robot-removeVarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.minus.png);
}

.btn#fire-robot-addVarButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.add.png);
}

.btn#fire-robot-addVarButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.add.png);
}

.btn#fire-robot-playButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    margin-left:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.control.play.png);
}

.btn#fire-robot-playButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.control.play.png);
}

.playOn {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    margin-left:0.4rem;
    background-image:url(chrome://firerobot/skin/black-icons/appbar.control.play.png);
    width:2.7rem;
    height:2.7rem;
    background-size:2.7rem 2.7rem;
    background-repeat:no-repeat;
    background-color:#f2f2f2;   
}

.btn#fire-robot-reportButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.list.png);
}

.btn#fire-robot-reportButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.list.png);
}

.btn#fire-robot-keyWordButton{
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.key.png);
}

.btn#fire-robot-keyWordButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.key.png);
}

.btn#fire-robot-openButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.folder.open.png);
}

.btn#fire-robot-openButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.folder.open.png);
}

.btn#fire-robot-saveAsButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.save-as.png);
}

#fire-robot-saveAsButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.save-as.png);
}

.btn#fire-robot-saveButton {
    margin-top:0.2rem;
    margin-bottom:0.2rem;
    margin-right:0.4rem;
    background-image:url(chrome://firerobot/skin/white-icons/appbar.save.png);
}

.btn#fire-robot-saveButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.save.png);
}

.btn#fire-robot-enableLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.right.png);
}

.btn#fire-robot-enableLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.right.png);
}

.btn#fire-robot-disableLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.left.png);
}

.btn#fire-robot-disableLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.left.png);
}

.btn#fire-robot-upLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.up.png);
}

.btn#fire-robot-upLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.up.png);
}

.btn#fire-robot-downLocatorButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.chevron.down.png);
}

.btn#fire-robot-downLocatorButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.chevron.down.png);
}

.btn#fire-robot-selResButton {
    background-image:url(chrome://firerobot/skin/white-icons/appbar.folder.open.png);
    margin-right:0.4rem;
}

.btn#fire-robot-selResButton:hover {
    background-image:url(chrome://firerobot/skin/black-icons/appbar.folder.open.png);
}

.frBase {
    -moz-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color:#f2f2f2;
    background-color:#474747;
}

.frBaseTab {
    -moz-appearance: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#f2f2f2;
    background-color:#474747;
}

.varBox {
    -moz-appearance: none;
    color:#f2f2f2;
    background-color:#474747;
}

.varLabel {
    margin-right:0px;
    margin-left:0px;
}

.varBoxItem:focus{
    color:#474747;
    background-color:#f2f2f2;  
}

.testBox {
    -moz-appearance: none;
    border-style:none;
    color:#ffffff;
    background-color:#141414;
}

.prefItem {
    -moz-appearance: none;
    color:#f2f2f2;
    border-style:none;
}

.prefItemSelected {
    -moz-appearance: none;
    border-style:none;
    color:#474747;
    opacity: 1;
    background-color:#f2f2f2;  
}